a {
	text-decoration: none;
	color: #482D79;
}

.large {
	font-family: 'Oswald', sans-serif;
	font-size: 40pt;
	text-align: center;
	margin: .5em;
}

.update {
	font-size: medium;
	font-style: italic;
	color: #D3D3D3;
	text-align: center;
	vertical-align: text-bottom;
}