<!doctype html>
<html>
	<head>
		<title>when sing strim</title>
		<link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
		<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<p class="large" title="{{ human_difference }}">
			{% if live %}
				<a href="http://www.twitch.tv/sing_sing">SING STRIM FOR FIRST TIME IN {{ years }} YEARS</a>
			{% else %}
				{{ years }} years since sing strim
			{% endif %}
			</p>

			<div>
				<img src="{{ url_for('static', filename='yolk.jpg') }}" id="showtoggle" class="transmouse">
			</div>
			<div id="copypasta">
				<p>
					{{ years }} years since sing strim.i walk through the empty streets trying to think of something else but my path always leads to the stream. i stare at the screen for hours and try to summon the lord. i watch other asian girls streaming but it is no good. i flame dendi in his channel and try to resist the nazi mods but it is all meaningless. the end is near.i then usually watch some old sing vods and cry myself to sleep.
				</p>
			</div>
			<div class="push"></div>
		</div>
		<div class="footer">
			<p class="update">
				Last updated {{ update }} UTC<br>
				Created by <a href="http://steamcommunity.com/id/wek/">Wek</a><br>
				Idea by <a href="http://steamcommunity.com/id/jacob404/">Jacob</a>
			</p>
		</div>
		<script>
			var showing = false;
			$( "#showtoggle" ).click(function() {
				if (showing) {
					$( "#copypasta" ).hide(400, function() {
						showing = false;
					})
				} else {
					$( "#copypasta" ).show(400, function() {
						showing = true;
					})
				}
			});
			$( ".transmouse" )
  				.mouseenter(function() {
  					$( this ).css( "opacity", 1.0 )
  				})
  				.mouseleave(function() {
  				 	$( this ).css( "opacity", 0.5 )
  			});
		</script>
	</body>
</html>